Source: loki
Section: net
Priority: optional
Maintainer: Jason Rhinelander <jason@loki.network>
Build-Depends: debhelper (>= 11), cmake, ninja-build, g++, libboost-dev (>= 1.62), libboost-filesystem-dev, libboost-thread-dev,
    libboost-date-time-dev, libboost-chrono-dev, libboost-regex-dev, libboost-serialization-dev, libboost-program-options-dev,
    libboost-locale-dev, libunbound-dev (>= 1.4.16), nettle-dev, libevent-dev, libminiupnpc-dev (>= 2.1), libunwind8-dev, libsodium-dev, libssl-dev, libreadline-dev,
    libhidapi-dev, libusb-1.0-0-dev, libprotobuf-dev, protobuf-compiler, python3, pkg-config, libsystemd-dev, libsqlite3-dev,
    liblokimq-dev (>= 1.1.0)
Standards-Version: 4.1.3
Homepage: https://loki.network

Package: libloki-core7.1.10
Architecture: any
Depends: libminiupnpc17 (>= 2.1), ${shlibs:Depends}, ${misc:Depends}
Description: Loki shared libraries
 This package contains the common Loki library code used by the various loki
 binaries.

Package: libloki-core-wallet7.1.10
Architecture: any
Depends: libloki-core7.1.10 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Loki wallet shared libraries
 This package contains the common Loki library code used by the various loki
 wallet-related code.

Package: lokid
Architecture: any
Depends: libloki-core7.1.10 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, debconf
Suggests: loki-blockchain-tools, loki-wallet
Description: Loki network daemon
 This package contains the loki network daemon, lokid, for running a loki node
 or loki service node.

Package: loki-wallet-cli
Architecture: any
Depends: libloki-core-wallet7.1.10 (= ${binary:Version}), libloki-core7.1.10 (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Suggests: lokid
Description: Loki command-line wallet and JSON RPC wallet
 This package contains binaries for accessing a wallet stored on the Loki
 blockchain.  Both a command-line interface (loki-wallet-cli) and a JSON RPC
 interface (loki-wallet-rpc) are provided.
 .
 The wallets require a lokid node to work, such as the one provided in the
 lokid package, but can also work with a remote Loki node.

Package: loki-wallet-rpc
Architecture: any
Depends: libloki-core-wallet7.1.10 (= ${binary:Version}), libloki-core7.1.10 (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Suggests: lokid
Description: Loki RPC wallet
 This package contains the Loki JSON RPC wallet interface to accessing a wallet
 on the Loki blockchain.  This wallet interface is typically used by external
 software that needs to interact with a wallet.
 .
 The wallet requires a lokid node to work, such as the one provided in the
 lokid package, but can also work with a remote Loki node.

Package: loki-blockchain-tools
Architecture: any
Depends: libloki-core-wallet7.1.10 (= ${binary:Version}), libloki-core7.1.10 (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Recommends: lokid
Description: Loki blockchain utilities
 This contains the loki-blockchain-* binaries for managing and querying the
 loki blockchain database.  These tools are not typically needed to run an
 ordinary node or service node.

Package: libloki-core-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: libloki-core-wallet7.1.10 (= ${binary:Version}), libloki-core7.1.10 (= ${binary:Version}),
 libboost-dev (>= 1.58), libboost-filesystem-dev,libboost-thread-dev, libboost-date-time-dev, libboost-chrono-dev,
 libboost-regex-dev, libboost-serialization-dev, libboost-program-options-dev, libboost-locale-dev, libunbound-dev (>= 1.4.16),
 libminiupnpc-dev, libssl-dev, libsodium-dev, libreadline-dev, libhidapi-dev, liblokimq-dev (>= 1.1.0), libsqlite3-dev, ${misc:Depends}
Description: Loki development files
 This contains the headers needed to compile code that uses the loki libraries.

Package: loki-service-node
Architecture: all
Pre-Depends: curl
Depends: lokid (=${binary:Version}), loki-storage-server (>= 2.0.1), lokinet-router (>= 0.7.0), ucf
Description: Loki service node metapackage
 This package depends on the necessary components to run a loki service node
 and updates the lokid configuration to operate as a service node instead of a
 regular node.
