#!/bin/sh -e

. /usr/share/debconf/confmodule

I="(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])"
IPREGEX="^$I\.$I\.$I\.$I$"

while true; do
    db_input high gyuanx-service-node/ip-address || true
    db_go
    db_get gyuanx-service-node/ip-address
    IP="$RET"

    if echo "$IP" | grep -qE "$IPREGEX"; then
        break
    elif [ "$IP" = "" ]; then
        errfile=$(mktemp)
        IP=$(curl -sS http://api.ipify.org || true)
        curl_error=$(cat $errfile)
        rm -f ${errfile}

        if echo "$IP" | grep -qE "$IPREGEX"; then
            db_set gyuanx-service-node/ip-address "$IP"
            db_subst gyuanx-service-node/confirm-ip-lookup IP "$IP"
            db_input high gyuanx-service-node/confirm-ip-lookup
            db_go
            db_get gyuanx-service-node/confirm-ip-lookup
            if [ "$RET" = "true" ]; then
                break
            fi
            db_reset gyuanx-service-node/ip-address
        else
            db_subst gyuanx-service-node/ip-lookup-failed REASON "${curl_error}"
            db_input high gyuanx-service-node/ip-lookup-failed
            db_go
            db_get gyuanx-service-node/ip-lookup-failed
            RETRY="$RET"
            db_reset gyuanx-service-node/ip-lookup-failed
            if [ "$RETRY" = "true" ]; then
                db_reset gyuanx-service-node/ip-address
            else
                break
            fi
        fi
    else
        db_input high gyuanx-service-node/invalid-ip
        db_go
        db_get gyuanx-service-node/invalid-ip
        RETRY="$RET"
        db_reset gyuanx-service-node/invalid-ip
        if [ "$RETRY" = "true" ]; then
            db_reset gyuanx-service-node/ip-address
        else
            break
        fi
    fi
done
