[Unit]
Description=Loki network node
After=network-online.target
Before=loki-storage.service

[Service]
User=_loki
Type=notify
TimeoutStartSec=infinity
WatchdogSec=5min
WorkingDirectory=/var/lib/loki
Restart=always
RestartSec=5s
ExecStart=/usr/bin/lokid --non-interactive --config-file /etc/loki/loki.conf
# Enable coloured daemon output:
Environment=TERM=xterm

[Install]
WantedBy=multi-user.target
