#!/bin/sh -e

. /usr/share/debconf/confmodule

I="(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])"
IPREGEX="^$I\.$I\.$I\.$I$"

PRIORITY=medium

while true; do
    db_input $PRIORITY lokid/ip-address || true
    db_go
    db_get lokid/ip-address
    IP="$RET"

    if echo "$IP" | grep -qE "$IPREGEX"; then
        break
    elif [ "$IP" = "" ]; then
        IP=$(curl http://api.ipify.org)

        if echo "$IP" | grep -qE "$IPREGEX"; then
            db_set lokid/ip-address "$IP"
            break
        else
            db_input high lokid/ip-lookup-failed
            db_go
            db_get lokid/ip-lookup-failed
            RETRY="$RET"
            db_reset lokid/ip-lookup-failed
            if [ "$RETRY" = "true" ]; then
                db_reset lokid/ip-address
                PRIORITY=high
            else
                break
            fi
        fi
    else
        db_input high lokid/invalid-ip
        db_go
        db_get lokid/invalid-ip
        RETRY="$RET"
        db_reset lokid/invalid-ip
        if [ "$RETRY" = "true" ]; then
            db_reset lokid/ip-address
            PRIORITY=high
        else
            break
        fi
    fi
done
